<div class="container">
<h2 class="what-we-do">We make conversion easy</h2>
<h4 class="try__it-title">Try one of the conversion methods by yourself</h4>

<div class="conversions">
    <div class="conversion__item" id="DocxToPdf">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
    <div class="conversion__item">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
    <div class="conversion__item">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
    <div class="conversion__item">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
    <div class="conversion__item">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
    <div class="conversion__item">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
    <div class="conversion__item">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
    <div class="conversion__item">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
    <div class="conversion__item">
        <div class="conversion__item-title">DOCX to PDF <img class="right__arrow" src="~/images/next.svg" alt="arrow" />  </div>
        <div class="conversion__item-desc">Convert Word DOCX documents to PDF files</div>
    </div>
</div>
</div>

<script src="~/js/main.js"></script>
