<div class="conversion__process">
    <img src="~/images/conversionprocess.svg" alt="conversion" class="conversion__process-img" />
    <div class="conversion__process-text">Converting...</div>
</div>
