<div class="container">
    @{ string method = "WordTo" + ViewBag.toFormat;}
    <h2 class="convert__page-title" id="@method">DOCX to @ViewBag.toFormat</h2>
    <h4 class="convert__page-subtitle">Convert and save your files for free</h4>

    <form class="convert__form" id="convertForm" method="post" enctype="multipart/form-data">
        <input class="convert__form-input" type="file" name="files" id="inputFiles" accept=".docx" multiple />
        <label class="convert__form-label-wrapper" for="inputFiles" id="inputLabel">
            <div class="convert__form-inner">
                <img src="~/images/doc.svg" alt="" class="convert__form-img" />
                <div class="convert__form-choose">
                    <img src="~/images/new.svg" alt="" class="convert__form-choose-img" />
                    <div class="convert__form-choose-text">Choose files</div>
                </div>
                <div class="convert__form-dragdrop">or drag and drop files here</div>
            </div>
        </label>
    </form>
</div>
<div class="how">
    <div class="container">
        <div class="how__inner">
            <div class="how__img"><img src="~/images/filecomversion.svg" alt="files" /></div>
            <div class="how__wrapper">
                <h2 class="how__title">How to convert your files:</h2>
                <div class="how__point"><span class="how__point-number">1.&nbsp;</span>Upload files to our convertor</div>
                <div class="how__point"><span class="how__point-number">2.&nbsp;</span>Press "Convert" button</div>
                <div class="how__point"><span class="how__point-number">3.&nbsp;</span>Wait for the converter to finish and download your files</div>
                <div class="how__point"><span class="how__point-number">4.&nbsp;</span>Rate our application at the bottom of the page<span class="heart">♥</span></div>
            </div>
        </div>
    </div>
</div>
<script src="~/libs/DropZone/dropzone.js"></script>
<script src="~/js/convert.js"></script>

