<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2:800&display=swap" rel="stylesheet">
    <link href="~/libs/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Font.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header">
        <div class="header__inner">
            <a asp-controller="Converto" asp-action="Index">
                <div class="header__logo">
<img src="~/images/transfer (1).svg" alt="Logo" class="header__logo-img" />
                    <div class="header__logo-text">Converto</div>
                </div>
                </a>
                <nav class="header__nav">
                    <a asp-controller="Converto" asp-action="AboutUs" class="header__nav-item">About us</a>
                </nav>
        </div>
    </header>
        @RenderBody()
    <footer>
        <div class="container">
            <p><a target="_blank" href="https://github.com/AndreyMtrx">&copy; 2020 - Andrey Laptev</a></p>
        </div>
    </footer>
    <script src="~/libs/jQuery/jquery-3.4.1.js"></script>
</body>
</html>